@font-face {
  font-family: 'CMU Typewriter Regular';
  src: url('../../fonts/CMUTypewriter-Regular.eot');
  src: url('../../fonts/CMUTypewriter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/CMUTypewriter-Regular.woff2') format('woff2'),
    url('../../fonts/CMUTypewriter-Regular.woff') format('woff'),
    url('../../fonts/CMUTypewriter-Regular.ttf') format('truetype'),
    url('../../fonts/CMUTypewriter-Regular.svg#CMUTypewriter-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
}

.nav-item {
  height: 40px;
}

a:hover {
  /* text-decoration: none !important; */
}

.info-icon {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  font-family: 'CMU Typewriter Regular';
  color: white;
  /* text-align: center; */
  font-size: 2rem;
  font-weight: bold;
}

.info-icon > * {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
