* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bone: #e0dbc7;
  --deep-sky-blue: #00a2ff;
  --portal-orange: #f0ad4e;
  --nero: #202020;
  --dissipate: #294d67;
}

body {
  background-color: #fff;
  color: black;
}

.center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-black {
  background-color: #000;
}
.bg-yellow {
  background-color: #f0ad4e;
}
.bg-red {
  background-color: #d9534f;
}
.bg-purple {
  background-color: #4b0082;
}
.bg-green {
  background-color: #5cb85c;
}
.bg-cyan {
  background-color: #5bc0de;
}
