.btn-unit {
  border-radius: 10px;
  background-color: #d9534f;
  color: white;
  text-align: center;
  font-size: 2rem;
  border: none;
  padding: 0.25rem 0.5rem;
}

.container > * > * {
  margin-top: auto;
  margin-bottom: auto;
}
.container > * > h1 {
  padding: 0.25rem 0.5rem;
}

.plate-group {
  outline: none;
}

.plate-group > *,
.btn-clear {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  color: #fff;
  margin: 2.5px 0;
}

.plate-group__plate,
.btn-clear {
  background-color: gray;
  padding: 2rem;
  font-size: 1.25rem;
  border: none;
}

.plate-group__quantity {
  background-color: #000;
  font-size: 1rem;
  padding: 0.85rem;
  position: absolute;
  bottom: 0%;
  margin-left: -5px;
  opacity: 0;
}

.btn-clear {
  color: #000 !important;
  font-weight: bold !important;
  background-color: #ffc107;
}

.plate-group__plate:active,
.btn-clear:active {
  transform: scale(0.9);
  transition: all 0.1s;
}

/* The plate group counters */
.plate-group__plate:active ~ * {
  transform: scale(0.9) translate(-10%, -10%);
  transition: all 0.1s;
}

.btn-unit:active {
  animation: wiggle 0.1s;
}