Form {
  margin: 0 auto;
  margin-top: 100px;
  width: 200px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:focus {
  /* outline: 0px !important; */
  -webkit-appearance: none;
  box-shadow: none;
  border-bottom: 1px black solid;
}

.weight-input__form {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  text-align: right;
}

.weight-input__form::placeholder {
  color: #a9a9a9;
}

.weight-input__text {
  background-color: transparent;
  color: #000;
  border: none;
  margin-bottom: 16px;
}
