.load-value {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

.load-value > * {
  position: absolute;
  bottom: 66px;
  font-size: 1.5rem;
  padding: 1.25rem 1rem;
}

.load-value__prev {
  right: 10px;
}

.load-value__cur {
  right: 10000px;
}
