.load {
  position: absolute;
  bottom: 235px;
  margin-left: 10px;
  z-index: -10;
}

.load__barbell--shaft {
  position: absolute;
  top: 65%;
  left: -10000px;
  height: 15px;
  transform: translateY(-35%);
  width: 10280px;
  background-color: gray;
  z-index: -20;
}

.load__barbell--shaft > * {
  color: white;
  position: absolute;
  top: -35%;
  left: 9980px;
}

.load__barbell--sleeve-threshold {
  position: absolute;
  top: 60%;
  width: 15px;
  height: 30px;
  transform: translateY(-40%);
  background-color: gray;
  z-index: -19;
}

.plate-container {
  position: absolute;
}

.plate-container__plate {
  width: 30px;
}

.plate-container__plate--text {
  font-size: 1rem;
  color: white;
}
