/* .active-class,
.active-class::before,
.active-class::after {
  background-color: white;
} */

.active-class {
  filter: opacity(100%) !important;
  text-decoration: none;
}

.nav-item {
  filter: opacity(50%);
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}
