.popup__container {
  overflow: hidden;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.popup__background {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  width: 100%;
  height: 100%;
}

.popup__card {
  z-index: 10001;
  width: 75%;
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.close-mark {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* .animate-fadeIn {
  animation: fadeIn 0.5s;
}
.animate-fadeOut {
  animation: fadeOut 0.5s;
}
.animate-grow {
  animation: grow 0.5s;
}
@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
} */
