.set-container {
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  position: relative;
  width: 100%;
}

.percent-container {
  vertical-align: text-top;
}

.set {
  margin: auto 0;
  font-weight: bold;
}
