.set-container {
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  position: relative;
  width: 100%;
  opacity: 0;
  transform: translate(-500px);
}

.percentage {
  color: #000;
  background-color: #ffc107;
  font-weight: 700;
  margin: auto 0;
  padding: 0.25em 0.4em;
  border-radius: 0.25rem;

  /* display: inline-block; */
  /* font-size: 75%; */
  /* line-height: 1; */
  /* text-align: center; */
  /* white-space: nowrap; */
  /* vertical-align: baseline; */
}

.set {
  margin: auto 0;
  font-weight: bold;
}

.working-weight {
  background-color: #9370db !important;
}
