.center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-black {
  background-color: #000;
}
.bg-yellow {
  background-color: #f0ad4e;
}
.bg-red {
  background-color: #d9534f;
}
.bg-purple {
  background-color: #4b0082;
}
.bg-green {
  background-color: #5cb85c;
}
.bg-cyan {
  background-color: #5bc0de;
}